@import 'tailwindcss';

@theme inline {
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
  --color-primary: #5f65fe;
  --color-secondary: #fa7161;
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  main {
    @apply my-4 flex-1 flex h-full;
  }
  body {
    @apply overflow-x-hidden text-gray-700 bg-gray-50 min-h-screen flex flex-col;
  }
  p {
    @apply text-gray-700;
  }
  input,
  textarea {
    @apply outline-none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}
