@import 'tailwindcss';

@theme inline {
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
  --color-primary: #5f65fe;
  --color-secondary: #f8b4ad;
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  main {
    @apply my-4;
  }
  body {
    @apply overflow-x-hidden text-black bg-gray-50;
  }
  p {
    @apply text-gray-700;
  }
  input,
  textarea {
    @apply outline-none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}
