@import 'tailwindcss';

@theme inline {
  --transition-duration: 300ms;
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
}

:root {
  --color-primary: #5f65fe;
  --color-secondary: #f8b4ad;
  --color-bg: #f7f8fa;
  --color-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #5f65fe;
    --color-secondary: #fa7161;
    --color-bg: #1a1a1a;
    --color-text: #ffffff;
  }
}

@layer base {
  main {
    @apply my-4;
  }
  body {
    @apply overflow-x-hidden text-text bg-bg/;
  }
  p {
    @apply text-gray-700;
  }
  input,
  textarea {
    @apply outline-none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}
